@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
  --main-background-color: #385f71;
  --text-color: #ffffff;
  --background-hover: rgb(187, 158, 81);
  --card-background: rgba(103, 103, 103, 0.2);
  --card-text-color: #131315;
  --status-color: #00e0ff;
  --border-solid-color: #00ff76;
  --description-text-color: #0c1533;
  --list-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-color);
  height: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: transparent;
}

.wrapper {
  width: 410px;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    .header-block {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      animation: changeWidth 8s ease-in-out infinite;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      width: 100%;
      margin-bottom: 7px;


      img {
        width: 120px;
        height: 120px;
      }

      h1 {
        font-family: 'Nunito', sans-serif;
        color: var(--text-color);
        font-size: 35px;
      }

      .airdrop-input {
        input {
          outline: none;
          padding: 5px;
          background-color: var(--main-background-color);
          color: var(--text-color);
          font-family: "Nunito", sans-serif;
          font-size: 18px;
          border: none;
          border-radius: 5px;
        }

        input::placeholder {
          font-family: "Nunito", sans-serif;
          color: var(--text-color);
          opacity: 1;
        }
      }
    }

    .main-block {
      animation: changeWidth 8s ease-in-out infinite;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      width: 100%;

      .name-of-types {
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow-x: scroll;
        padding: 5px;
        align-items: center;

        .btn {
          font-family: 'Nunito', sans-serif;
          display: inline-block;
          box-sizing: border-box;
          padding: 0 20px;
          margin: 0 15px 15px 0;
          outline: none;
          border: none;
          border-radius: 6px;
          font-size: 17px;
          font-weight: 600;
          text-decoration: none;
          color: #385898;
          background-color: #e7f3ff;
          cursor: pointer;
          user-select: none;
          appearance: none;
          touch-action: manipulation;

          &:focus-visible {
            box-shadow: 0 0 0 2px #666;
          }

          &:hover {
            background-color: #DBE7F2;
          }

          &:active {
            transform: scale(0.96);
          }

          &:disabled {
            pointer-events: none;
            opacity: 0.65;
          }
        }
      }

      .airdrop {
        display: flex;
        padding: 5px;
        width: 100%;

        .airdrops-section {
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          height: 271px;
          width: 100%;

          .card-block {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            animation: changeWidth 8s ease-in-out infinite;
            background: var(--card-background);
            backdrop-filter: blur(8px);
            border-radius: 8px;
            padding: 10px;
            cursor: pointer;
            transition: 0.4s;
            position: relative;
            margin-bottom: 10px;

            &:hover {
              background-color: var(--background-hover);
              color: var(--text-color);
            }

            .airdrop-image {
              width: 80px;
              height: 80px;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .airdrop-data {
              display: flex;
              flex-direction: column;
              gap: 8px;

              .airdrop-name {
                font-family: "Nunito", sans-serif;
                font-size: 25px;
              }

              .airdrop-price {
                display: flex;
                align-items: center;
                gap: 2px;

                img {
                  width: 18px;
                  height: 18px;
                }

                .price-text {
                  font-family: "Nunito", sans-serif;
                  font-size: 12px;
                }
              }
            }

            .airdrop-status {
              position: absolute;
              top: 5px;
              right: 2px;
              background-color: var(--status-color);
              padding: 5px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  .about-content {
    animation: changeWidth 8s ease-in-out infinite;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;

    .back-btn {
      position: absolute;
      top: 15px;
      left: 15px;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 20px;
      margin: 0 15px 15px 0;
      outline: none;
      border: none;
      border-radius: 6px;
      height: 40px;
      line-height: 40px;
      font-size: 17px;
      font-weight: 600;
      text-decoration: none;
      color: #385898;
      background-color: #e7f3ff;
      cursor: pointer;
      user-select: none;
      appearance: none;
      touch-action: manipulation;

      &:focus-visible {
        box-shadow: 0 0 0 2px #666;
      }

      &:hover {
        background-color: #DBE7F2;
      }

      &:active {
        transform: scale(0.96);
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.65;
      }
    }

    .about-airdrop {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 100vh;

      .about-airdrop-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid var(--border-solid-color);
        }
      }

      .about-airdrop-name {
        font-family: "Nunito", sans-serif;
        color: var(--text-color);
        font-size: 35px;
      }

      .airdrop-about-data {
        display: flex;
        flex-direction: column;
        align-items: start;
        animation: changeWidth 8s ease-in-out infinite;
        background: rgba(0, 105, 255, 0.2);
        backdrop-filter: blur(50px);
        border-radius: 8px;
        padding: 15px;

        .airdrop-inform {
          display: flex;
          align-items: center;
          gap: 8px;

          img {
            width: 15px;
            height: 15px;
          }

          .p {
            font-family: "Nunito", sans-serif;
            font-size: 19px;
            color: var(--text-color);

            a {
              font-family: "Nunito", sans-serif;
              font-size: 19px;
              color: #0051ff;
            }
          }
        }
      }

      .airdrop-about-description {
        padding: 10px;
        margin-top: 15px;
        height: 300px;
        overflow-y: scroll;
        animation: changeWidth 8s ease-in-out infinite;
        background: rgba(0, 105, 255, 0.2);
        backdrop-filter: blur(50px);
        border-radius: 8px;

        .airdrop-descriptions {
          display: flex;
          flex-direction: column;

          .airdrop-p {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            color: var(--description-text-color);
            padding-bottom: 10px;
          }
        }

        .step-by-step {
          .h3 {
            font-family: "Nunito", sans-serif;
            color: var(--card-text-color);
            font-size: 17px;
          }

          ol {
            font-family: "Nunito", sans-serif;
            color: var(--list-color);
            font-size: 16px;
            padding-left: 17px;
          }
        }

        .airdrop-button {
          display: inline-block;
          box-sizing: border-box;
          justify-content: center;
          padding: 0 24px;
          width: 100%;
          outline: none;
          margin-top: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 3px;
          height: 37px;
          line-height: 37px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: normal;
          text-decoration: none;
          color: #07bc4c;
          background-color: #fff;
          cursor: pointer;
          user-select: none;
          appearance: none;
          touch-action: manipulation;
          transition: box-shadow .18s ease-out, background .18s ease-out, color .18s ease-out;

          &:focus-visible {
            box-shadow: 0 0 0 3px lightskyblue;
          }

          &:hover {
            box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
          }

          &:active {
            background-color: #efefef !important;
          }
        }
      }
    }
  }
}
