@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
  --main-background-color: #385f71;
  --text-color: #ffffff;
  --background-hover: rgb(43, 65, 98);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-color);
  height: 100%;
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: transparent;
}

.wrapper {
  width: 345px;
  height: 460px;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;


  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;

    .header-block {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px;
      animation: changeWidth 8s ease-in-out infinite;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      img {
        width: 120px;
        height: 120px;

      }

      h1 {
        font-family: 'Nunito', sans-serif;
        color: var(--text-color);
        font-size: 25px;
      }
    }

    .main-block {
      //padding: 20px;
      animation: changeWidth 8s ease-in-out infinite;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      border-radius: 8px;

      .name-of-types {
        display: flex;
        justify-content: space-between;
        width: 310px;
        overflow-x: scroll;
        padding: 5px;
        align-items: center;

        .btn {
          font-family: 'Nunito', sans-serif;
          display: inline-block;
          box-sizing: border-box;
          padding: 0 20px;
          margin: 0 15px 15px 0;
          outline: none;
          border: none;
          border-radius: 6px;
          font-size: 17px;
          font-weight: 600;
          text-decoration: none;
          color: #385898;
          background-color: #e7f3ff;
          cursor: pointer;
          user-select: none;
          appearance: none;
          touch-action: manipulation;

          &:focus-visible {
            box-shadow: 0 0 0 2px #666;
          }

          &:hover {
            background-color: #DBE7F2;
          }

          &:active {
            transform: scale(0.96);
          }

          &:disabled {
            pointer-events: none;
            opacity: 0.65;
          }
        }
      }

      .airdrop {
        display: flex;


        .airdrops-section {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .card-block {
            display: flex;
            align-items: center;
            gap: 20px;


            .airdrop-image {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
