@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
:root {
  --main-background-color: #385f71;
  --text-color: #ffffff;
  --background-hover: rgb(43, 65, 98);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Anek Kannada", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-color);
  height: 100%;
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #385f71;
}

.wrapper {
  width: 345px;
  height: 460px;
}
.wrapper .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.wrapper .main-content .header-block {
  width: 310px;
  height: 150px;
  -webkit-box-shadow: 0 0 23px 15px rgba(34, 60, 80, 0.25);
  box-shadow: 0 0 23px 15px rgba(34, 60, 80, 0.25);
}
.wrapper .main-content .header-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main-content .main-block {
  padding: 20px;
}
.wrapper .main-content .main-block .name-of-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 335px;
  overflow-x: scroll;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .main-content .main-block .name-of-types .btn {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.wrapper .main-content .main-block .name-of-types .btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px #666;
          box-shadow: 0 0 0 2px #666;
}
.wrapper .main-content .main-block .name-of-types .btn:hover {
  background-color: #DBE7F2;
}
.wrapper .main-content .main-block .name-of-types .btn:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.wrapper .main-content .main-block .name-of-types .btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.wrapper .main-content .main-block .airdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}