@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
:root {
  --main-background-color: #385f71;
  --text-color: #ffffff;
  --background-hover: rgb(187, 158, 81);
  --card-background: rgba(103, 103, 103, 0.2);
  --card-text-color: #131315;
  --status-color: #00e0ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-background-color);
  height: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: transparent;
}

.wrapper {
  width: 345px;
  height: 460px;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.wrapper .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.wrapper .main-content .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-animation: changeWidth 8s ease-in-out infinite;
          animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
  margin-bottom: 10px;
}
.wrapper .main-content .header-block img {
  width: 120px;
  height: 120px;
}
.wrapper .main-content .header-block h1 {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 25px;
}
.wrapper .main-content .main-block {
  -webkit-animation: changeWidth 8s ease-in-out infinite;
          animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}
.wrapper .main-content .main-block .name-of-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 310px;
  overflow-x: scroll;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .main-content .main-block .name-of-types .btn {
  font-family: "Nunito", sans-serif;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.wrapper .main-content .main-block .name-of-types .btn:focus-visible {
  -webkit-box-shadow: 0 0 0 2px #666;
          box-shadow: 0 0 0 2px #666;
}
.wrapper .main-content .main-block .name-of-types .btn:hover {
  background-color: #DBE7F2;
}
.wrapper .main-content .main-block .name-of-types .btn:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.wrapper .main-content .main-block .name-of-types .btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.wrapper .main-content .main-block .airdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  gap: 5px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  height: 310px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 320px;
  -webkit-animation: changeWidth 8s ease-in-out infinite;
          animation: changeWidth 8s ease-in-out infinite;
  background: var(--card-background);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block:hover {
  background-color: var(--background-hover);
  color: var(--text-color);
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-data .airdrop-name {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-data .airdrop-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-data .airdrop-price img {
  width: 18px;
  height: 18px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-data .airdrop-price .price-text {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
}
.wrapper .main-content .main-block .airdrop .airdrops-section .card-block .airdrop-status {
  position: absolute;
  top: 5px;
  right: 2px;
  background-color: var(--status-color);
  padding: 5px;
  border-radius: 5px;
}
.wrapper .about-content {
  -webkit-animation: changeWidth 8s ease-in-out infinite;
          animation: changeWidth 8s ease-in-out infinite;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
  height: 100vh;
}